<footer class="main-footer">
      <strong>Copyright &copy; {% now "Y" %}, <a href="">BANSI JAVIYA</a>.</strong>
      All rights reserved.
    <strong>Copyright &copy; {% now "Y" %}, <a href="">KANIXA BOGHARA</a>.</strong>
      All rights reserved.
    <strong>Copyright &copy; {% now "Y" %}, <a href="">VRUTI KAKADIYA</a>.</strong>
      All rights reserved.
    <strong>Copyright &copy; {% now "Y" %}, <a href="">ISHA SHINOJIYA</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0
      </div>
    </footer>